 table,
 td {
     border-collapse: collapse;
     border: 1px solid;
 }

 #myTable tr:nth-child(odd) {
     background-color: #a2a8d3;
 }

 #myTable tr:hover {
     background-color: #38598b;
 }

 #myTable .left-image {
     max-width: 50px;
     height: auto;
     display: block;
     margin: 0 auto;

 }

 #myTable .left-image:hover {
     transform: scale(2);
 }

 #myTable .text {
     vertical-align: middle;
 }

 .bgLine {
     background-color: #5c5470;
     height: 20px;
     width: 100%;
 }

 body {
     background-color: #e7eaf6;

 }

 #centerPosition {
     text-align: center;
 }

 .transform {
     max-width: 100px;

 }

 .transform:hover {
     transform: scale(5);
 }

 a {
     outline: none;
 }

 a:link {
     color: #113f67;
 }

 a:visited {
     color: #113f67;
     ;
 }

 a:focus {
     text-decoration: none;
     background: #113f67;
     ;
 }

 a:hover {
     text-decoration: none;
     background: #FFF;
     
 }

 a:active {
     background: #e7eaf6;
     color: #113f67;
     ;
 }

 @media only screen and (max-width: 600px) {
     body {
         background: linear-gradient(#5c5470, #dbd8e3);
     }

 }