label {
    width: 150px;
    display: inline-block;
}

input {
    width: 250px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
    box-sizing: border-box;
}

form {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    max-width: 100%;
    margin: auto;
}

input {
    font-size: 1em;
    border-radius: 5px;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.btn-primary {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    width: 250px;

}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

form:invalid input[type="submit"] {
    background-color: gray;
}

input:invalid+.icon-ok {
    display: none;
}

input:valid+.icon-ok {
    display: inline-block;
}